<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
    <%- include('partials/nav') %>
    <h1>Contact page</h1>

    <div>
        <!-- <form id="contact-form" action="" method="">
            <label for="fullName"></label><br>
            <input type="text" name="fullName" placeholder="fullname" value="<%= qs.fullName %>"><br>
            <label for="email"></label><br>
            <input type="email" name="email" placeholder="email" value="<%= qs.email %>"><br>
            <label for="message"></label><br>
            <textarea name="message" id="" cols="30" rows="10" placeholder="message"><%= qs.message %></textarea><br>
            <input type="submit" name="" value="submit">
        </form> -->

        <form id="contact-form" action="/contact" method="POST">
            <label for="fullName"></label><br>
            <input type="text" name="fullName" placeholder="fullname" value="<%= qs.fullName %>"><br>
            <label for="email"></label><br>
            <input type="email" name="email" placeholder="email" value="<%= qs.email %>"><br>
            <label for="message"></label><br>
            <textarea name="message" id="" cols="30" rows="10" placeholder="message"><%= qs.message %></textarea><br>
            <input type="submit" name="" value="submit">
        </form>
    </div>

</body>

</html>

<!-- https://www.w3.org/Style/Examples/011/firstcss.en.html -->